header.bg-action.p-4 
    .container.mx-auto.flex.justify-between.items-center 
        h1.text-2xl.text-white.font-extrabold Bienes 
            span.font-extrabold.text-black Raíces

        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden") 
            a.text-gray-500.text-sm(href="javascript:history.back()" class=  "text-white py-2 px-6 rounded-lg") Regresar
            a(href="/" class=" text-white uppercase font-bold p-2 cursor-pointer text-sm") Inicio
            a(href="/mis-propiedades" class=" text-white uppercase font-bold p-2 cursor-pointer text-sm") Mis propiedades 
            if usuario
               a(href=`/usuario/${usuario.id}` class=" text-white uppercase font-bold p-2 cursor-pointer text-sm") Mi perfil
            else
                a(href="/auth/login" class=" text-white uppercase font-bold p-2 cursor-pointer text-sm") Iniciar Sesión
            form(action="/auth/cerrar-sesion" method="POST")  
                input(type="hidden" name="_csrf" value= csrfToken)
                input(type="submit" class="bg-white text-action hover:bg-hoverAction py-2 px-10 rounded-lg" value="Cerrar Sesión")
